@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
/* Navbar */
.navbar-custom {
    background-color: rgba(255, 255, 255);
    box-shadow: 0 2px 6px rgba(75, 59, 43, 0.3);
    height: 70px; /* altezza navbar */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #111111 !important; /* beige chiaro */
    font-weight: 600;
}

.navbar-custom .nav-link:hover {
    color: #8B0000 !important; /* tan chiaro */
    text-decoration: underline;
}

/* Navbar active and focus */
.navbar-custom .nav-link.active,
.navbar-custom .nav-link:focus {
    color: #8B0000 !important;
    text-decoration: underline;
}

.logo-img {
    height: 80px;
    width: auto;
    object-fit: cover;
}

.profile-pic-nav{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
.profile-pic-nav:hover{
    border: 4px solid #8B0000;
}